
{%extends "base.html"%}
{% block title %}Index - Login{% endblock %}
{% block nav %}<a href="{{ url_for('login') }}">Login</a>{% endblock %}
{% block header %}
    
    <h1>Welcome to the GUDLFT Registration Portal!</h1>


{% endblock %}

{%block body_main%}
    <h2>Here are clubs statistics:</h2>
    <div class="container">
        <table class="table table-striped container">
            <thead>
                <tr>
                    <th scope="col">Club name</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tboby>
                {% for club in clubs%}
                <tr scope="row">
                    <td>{{club['name']}}</td>
                    <td>{{club['points']}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{%endblock%}