
{%extends "base.html"%}
{% block title %}Login{% endblock %}
{% block header %}

    <h1>Welcome to the GUDLFT Registration Portal!</h1>



{% endblock %}

{%block body_main%}

    {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul>
        {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif%}
    {% if session.name %}
    <span>{{ session['name'] }}</span>
    <a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
    <h2>Please enter your secretary email to login:</h2>
    
    <form action="login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit" id="submit">Login</button>
    </form>
    {% endif %}

    {%endwith%}

{%endblock%}